<div class="top-bar">
  <!-- logo -->
  <div class="logo">
    <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
    <h1 class="logo__title">grocerymart</h1>
  </div>

  <!-- nav-bar -->
  <nav class="navbar">
    <ul>
      <li>
        <a href="" class="navbar__link">Departments</a>
        <img
          src="./assets/icon/arrow_down.svg"
          alt="arrow_down"
          class="navbar__arrow"
        />
      </li>
      <li>
        <a href="" class="navbar__link">Grocery</a>
        <img
          src="./assets/icon/arrow_down.svg"
          alt="arrow_down"
          class="navbar__arrow"
        />
      </li>
      <li>
        <a href="" class="navbar__link">Beauty</a>
        <img
          src="./assets/icon/arrow_down.svg"
          alt="arrow_down"
          class="navbar__arrow"
        />
      </li>
    </ul>
  </nav>
</div>
