<div class="container">
  <div class="top-bar">
    <!-- More -->
    <button class="top-bar__more">
      <img
        src="./assets/icon/more.svg"
        alt="more"
        class="icon top-bar__more-icon"
      />
    </button>
    <!-- logo -->
    <a href="./" class="logo">
      <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img" />
      <h1 class="logo__title">grocerymart</h1>
    </a>

    <!-- nav-bar -->
    <nav class="navbar">
      <ul class="navbar__list js-dropdown-list">
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Departments
            <img
              src="./assets/icon/arrow_down.svg"
              alt="arrow_down"
              class="icon navbar__arrow"
            />
          </a>
          <div class="dropdown">
            <div class="dropdown__inner">
              <div class="top-menu">
                <div class="top-menu__main">
                  <!-- menu column -->
                  <div class="menu-column">
                    <div class="menu-column__icon">
                      <img
                        src="./assets/img/category/cate-1.1.svg"
                        alt="cate1"
                        class="menu-column__icon-1"
                      />
                      <img
                        src="./assets/img/category/cate-1.2.svg"
                        alt="cate2"
                        class="menu-column__icon-2"
                      />
                    </div>
                    <div class="menu-column__content">
                      <h2 class="menu-column__heading">All Departments</h2>
                      <ul class="menu-column__list">
                        <li>
                          <a href="" class="menu-column__link"
                            >Savings & Featured Shops</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link">Electronics</a>
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Clothing, Shoes & Accessories</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Home, Furniture & Appliances</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Toys & Video Games</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Home Improvement</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link">Baby</a>
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Household Essentials</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link">Personal Care</a>
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Patio & Garden</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Sports & Outdoors</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link">Gift Cards</a>
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Auto, Tires and Industrial</a
                          >
                        </li>
                        <li>
                          <a href="" class="menu-column__link"
                            >Movies, Music & Books</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Grocery
            <img
              src="./assets/icon/arrow_down.svg"
              alt="arrow_down"
              class="icon navbar__arrow"
            />
          </a>
          <!-- <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              totam, tenetur labore minus laboriosam repellat est vitae placeat
              libero numquam corrupti dolores aut doloremque, laudantium
              suscipit, saepe a maxime nihil quisquam harum eum voluptatibus
              sit? Porro vero est ea amet, numquam corporis inventore deserunt,
              repellat dolore, rem repellendus odit enim.
            </div>
          </div> -->
        </li>
        <li class="navbar__item">
          <a href="" class="navbar__link"
            >Beauty
            <img
              src="./assets/icon/arrow_down.svg"
              alt="arrow_down"
              class="icon navbar__arrow"
            />
          </a>
          <!-- <div class="dropdown">
            <div class="dropdown__inner">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
              totam, tenetur labore minus laboriosam repellat est vitae placeat
              libero numquam corrupti dolores aut doloremque, laudantium
              suscipit, saepe a maxime nihil quisquam harum eum voluptatibus
              sit? Porro vero est ea amet, numquam corporis inventore deserunt,
              repellat dolore, rem repellendus odit enim.
            </div>
          </div> -->
        </li>
      </ul>
    </nav>

    <!-- actions -->
    <div class="top-action">
      <div class="top-action__group top-action__group--single">
        <button class="top-action__btn">
          <img
            src="./assets/icon/search.svg"
            alt="search"
            class="icon top-action__icon"
          />
        </button>
      </div>

      <div class="top-action__group">
        <button class="top-action__btn">
          <img
            src="./assets/icon/heart.svg"
            alt="heart"
            class="icon top-action__icon"
          />
          <span class="top-action__title">03</span>
        </button>

        <div class="top-action__separate"></div>

        <button class="top-action__btn">
          <img
            src="./assets/icon/buy.svg"
            alt="buy"
            class="icon top-action__icon"
          />
          <span class="top-action__title">$65.42</span>
        </button>
      </div>

      <div class="top-action__user">
        <img
          src="./assets/img/avatar.jpg"
          alt="avatar"
          class="top-action__avatar"
        />
      </div>
    </div>
  </div>
</div>
